.conteiner {
    margin: 30px;
    width: calc(100% - 60px);
    height: 200px;
    background-color: var(--cardBg);
    border-radius: 24px;
    overflow-y: auto;
    position: relative;
}

.list {
    padding: 10px 0 0 20px;
    display: flex;
    width: calc(100% - 40px);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.list_item {
    display: flex;
    gap: 20px;
    width: 200px;
}

.list_item_current {
    display: flex;
    gap: 20px;
    background-color: rgba(186, 164, 159, 0.4) ;
    border-radius: 24px;
}

.ing_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.categoryWrapper {
    top: 0;
    left: 0;
    display: flex;
    position: sticky;
    justify-content: space-around;
    background-color: var(--cardBg);
    color: var(--accentColor);
    opacity: 1;
    border-bottom: 1px solid var(--sideBarBg);
}

.categoryItem {
    cursor: pointer;
    padding: 7px;
    border-radius: 24px;
    border: 1px solid var(--accentColor)
}