.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.list {
	margin-top: 30px;
	display: flex;
	gap: 30px;
}

.list_item {
	color: var(--textColor);
	cursor: pointer;
	padding: 7px;
	border: 1px solid;
	border-radius: 8px;
}
