.sideBar_section {
    width: 60px;
    height: 100dvh;
    background-color: var(--sideBarBg);
    display: flex;
/*align-items: center;*/
    justify-content: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.conteiner {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 30px;
}

.NavLinkSideBar {
    padding: 10px;
}

.current{
    padding: 10px;
    background-color: var(--curentPageColor);
    border-radius: 16px;
}