.sideBar_section {
  width: 60px;
  height: 100dvh;
  background-color: #361d32;
  display: flex;
  //align-items: center;
  justify-content: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.conteiner {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-top: 30px;
}

.NavLinkSideBar {
  padding: 10px;

}

.current{
  background-color: rgba(237, 210, 203, 0.2);
  border-radius: 16px;
}