.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
}

.wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}
.ing_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--cardBg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-family: Manrope;
  color: var(--sideBarBg);
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.name {
  /*font-family: Manrope;*/
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--blackColor);
}

.description {
  /*font-family: Manrope;*/
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--silverColor);
  height: 20px;
  max-width: 300px;
}

.icon {
  width: 10px;
  height: 10px;
  background-color: #f55951;
  /*margin-right: 10px;*/
}

@media (min-width: 1600px) {
  .name {
    font-size: 16px;
  }
  .description {
    font-size: 20px;
  }
}
