@import "normalize.css";
:root[data-theme="light"] {
    --bodyBcg:#f1e8e6;
    --cardBg: #edd2cb;
    --sideBarBg: #361d32;
    --curentPageColor: rgba(237, 210, 203, 0.2);
    --accentColor: #f55951;
}
:root[data-theme="dark"] {
    --bodyBcg: #000;
}
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
:root {
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}
img {
    display: block;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bodyBcg);
}